.contentainer-form {
  margin: 50px 0;
  h2,
  h3 {
    text-decoration: underline;
  }
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  h2,
  h3,
  p {
    color: $main;
  }

  &__details h3 {
    margin: 10px 0px 0px 0;
    font-weight: bold;
  }


  input {
    width: $width;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 8px;
    @include desktop {
      width: $width-desktop;
      textarea {
        resize: both;
      }
    }
  }
  input:focus {
    background-color: $secondary;
    color: white;
  }

  textarea:focus {
    background-color: $secondary;
    color: white;
  }

  h2 {
    margin: 5px 0 15px 0;
    font-size: $subtitle;
    @include desktop {
      font-size: $subtitle-desktop;
    }
  }

  textarea {
    padding-top: 2px;
    margin-top: 2px;
  }

  button {
    margin: 5px;
    padding: 5px;
  }
  h3 {
    font-size: $paragraph;
    @include desktop {
      font-size: $paragraph-desktop;
    }
  }

}
