.hero {
  padding-top: 80px;

  .content-center {
    display: flex;
    width: 100%;
    
    &__container-image {
      display: flex;
      width: 100%;
      justify-content: center;
      text-align: center;
      align-items: flex-end;
            
      img {
        
        width: 100%;
      }

    }

    .content-center__container-subtitle {
      position: absolute;
      align-items: center;
      color: $main;

      h1 {
        font-size: $title-desktop;
      }

      h2 {
        font-size: $subtitle-desktop;
      }

      @include tablet {

        h1 {
          font-size: $title-tablet;
        }

        h2 {
          font-size: $subtitle-tablet;


        }

        @include movil {
          h1 {
            font-size: $title-movil;
          }

          h2 {
            font-size: $subtitle-movil;
          }
        }

      }

    }

  }




}