.gallery {
  width: 100%;
  padding: 5px;

 
  .content-center__galerry-subtitle {
    text-align: center;
    color: $main;
    margin: 25px 0;

    h2 {
      font-size: $title-desktop;
    }

    h3 {
      font-size: $subtitle-desktop;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-around;
  }

  &__content-card {
    width: 450px;
    height: auto;
    border-radius: 5px;
    padding: 0 10px;
    background-color: $highlight;
    text-align: center;
    transition: all 200ms ease-out;
    overflow: hidden;
    cursor: pointer;
    margin-top: 30px;



    h2 {
      color: $font-color3;
      padding: 5px 0;
    }

    h3 {
      padding: 2px 0;
      color: $main;
    }

    p {
      color: $stroke;
    }

    .gallery__content-card-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 2px;
      margin: 10px 0;

      img {
        padding: 0 2px;
        width: 10%;
        height: 10%;
      }
    }

    img {
      border-radius: 5px;
      width: 100%;
      height: 450px;
      object-fit: fill;
    }

  }

  &__content-card:hover {
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-3%);
  }

}