//Color
$main: #fff3ec;
$stroke: #2c3e50;
$highlight: #34495e;
$secondary: #ffc0ad;
$tertiary: #9656a1;
$color-font: #fff3ec;

//Sizes
$title: 32px;
$title-desktop: 40px;
$subtitle: 25px;
$subtitle-desktop: 34px;
$paragraph: 16px;
$paragraph-desktop: 20px;
$navigation: 20px;
$navigation-desktop: 30px;

//screen-sizes
$tablet: 768px;
$desktop: 992px;
$movil: 480px;

//border
$border-size: 5px;
$border: $border-size solid $highlight;

//margins
$margin-viewport: 30px;
$margin-hero: 20px;

//gallery-img
$size-container-gallery: 200px;
$size-container-gallery-desktop: 600px;
$margin-gallery: 20px;

//content-center
$size-container-center: 2000px;
$size-container-center-desktop: 2000px;

// inputs size
$width: 200px;
$heigth: 10px;
$width-desktop: 478px;
$heigth-desktop: 30px;

