.navigation {
  width: 100%;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  
  li {
    list-style: none;
  }

  &__list {
    display: flex;
    justify-content: center;

    a {
      padding: 0 20px;
      color: $font-color;
      font-size: $subtitle-desktop;
    }
  }

  @include desktop {
    a {
      padding: 0 18px;
      font-size: $title-tablet;
    }
  }

  @include tablet {
    a {
      padding: 0 14px;
      font-size: $subtitle-tablet;
    }
  }

  @include tablet2 {
    a {
      padding: 0 12px;
      font-size: 16px;
    }
  }

  @include movil2 {
    a {
      padding: 0 6px;
      font-size: 14px;
    }
  }

  @include movil {
    a {
      padding: 0 6px;
      font-size: 12px;
      
      
    }
  }

  a:hover {
    color: $font-color3;
  }

}