@import "./base/_main";
@import "./header/_header";
@import "./navigation/_navigation";
@import "./section/hero/_hero";
@import "./section/gallery/_gallery";
@import "./section/form/_form";
@import "./footer/_footer";
@import "./section/edu_exp/_edu-exp";
@import "./section/about/_about";

//Estilos generales o de layout

body {
  background-color: #222222;
  margin: 0;
  padding: 0;
   
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: $stroke;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #222222;
}

body::-webkit-scrollbar-thumb {
  background-color: $highlight;
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  border-radius: 5px;
}