.resume {
  margin: 50px 0;
  h2,
  h3,
  h4 {
    color: $main;
    text-decoration: underline;
  }
  
  h4 {
    color: $font-color3;
  }

  h5 {
    color: $main;
  }

p{
  color: $stroke;
}

   .container-resume {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    width: 100%;

    .container-resume__education {
      width: 35%;
    }
    .container-resume__experience {
      width: 35%;
    }
  }

  .container-resume__title {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
  }

  .container-resume__education {
    width: 100%;
  }
  .container-resume__experience {
    width: 100%;
  }

  
    .container-resume__education-card {
    background-color: $highlight;
    border-radius: 8px;
    padding: 5px ;
    margin: 5px;
    margin: 15px 0;
  }

    .container-resume__experience-card {
    background-color: $highlight;
    border-radius: 8px;
    padding: 5px ;
    margin: 5px;
    margin: 15px 0;
  }

}
