.resume {
  margin: 100px 0;

  .container-resume__title {
    text-align: center;
    color: $main;

    h2 {
      font-size: $title-desktop;
    }
  }

  .container-resume {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 5px;

    .container-resume__education-title {

      color: $main;
      font-size: $subtitle-desktop;
    }

    .container-resume__education {
      width: 500px;
      

    }

    .container-resume__education-card {
      background-color: $highlight;
      border-radius: 8px;
      padding: 25px;
      margin: 20px 0;

      h5 {
        color: $main;
        margin: 5px 0;
      }

      h4 {
        color: $font-color3;
        margin: 5px 0;
      }

      p {
        color: $stroke;
      }

    }

    .container-resume__experience-title {

      color: $main;
      font-size: $subtitle-desktop;
    }

    .container-resume__experience {
      width: 500px;
    }

    .container-resume__experience-card {
      background-color: $highlight;
      border-radius: 8px;
      padding: 25px;
      margin: 20px 0;

      h5 {
        color: $main;
        margin: 5px 0;
      }

      h4 {
        color: $font-color3;
        margin: 5px 0;
      }

      p {
        color: $stroke;
      }

    }



  }


}